.api-specification-link {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  .api-specification-link--left {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;

    .api-specification-link--left--type {
      &.GET {
        color: green;
      }
      &.PUT {
        color: blue;
      }
      &.POST {
        color: orange;
      }
      &.PATCH {
        color: grey;
      }
      &.DELETE {
        color: red;
      }
    }
  }

  .api-specification-link--right {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    .material-icons {
      display: flex;
      opacity: 0.4;
      transition: opacity 250ms ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    .api-specification-link--right--copied {
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      color: var(--color-success);
      font-weight: bold;
      &.copied-indicator-on {
        opacity: 1;
      }
    }
  }
}

.api-specification-link--right__copy svg {
  cursor: pointer;
  font-size: 20px;
  transition: fill 250ms ease-in-out;
  path {
    transition: fill 250ms ease-in-out;
    fill: var(--color-1);
  }
  &:hover {
    path {
      fill: var(--color-primary);
    }
  }
}
