.nav-popover {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  .nav-popover-header {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: flex-end;
    img.logo {
      height: 40px;
      width: auto;
      @media (max-width: 767px) {
        height: 24px;
      }
    }
  }
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
  }
}
