.project-member-section {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
.project-member-section__heading {
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-left: 8px;
}
